{% extends "base.html" %}
{% load static %}

{% block title %}Future Summit Hero{% endblock %}

{% block content %}




<section class="hero">
  <div class="hero-bg">
    <video class="bg-media active" autoplay muted playsinline preload="auto">
      <source src="{% static 'videos/demo1.mp4' %}" type="video/mp4">
    </video>
    <img class="bg-media" src="{% static 'images/fts-img1.jpeg' %}" />
    <img class="bg-media" src="{% static 'images/fts-img2.jpeg' %}" />
  </div>
  <div class="hero-content">
    <h1 class="shatter">
      FUTURE<br>
      TECHNOLOGIES<br>
      SUMMIT
    </h1>
    <p>
      Experience The Future At Future Technologies Summit
    </p>
  </div>
  <div class="hero-cards">
    <div class="card">
      <span>Register as</span>
      <h3>ATTENDEE</h3>
    </div>
    <div class="card dark">
      <span>Register as</span>
      <h3>DELEGATE</h3>
    </div>
  </div>
</section>


<!-- example -->




<section class="about-section">
  <div class="about-bg"></div>

  <div class="about-container">
    <div class="about-left">
      <h2 class="reveal">
        REVIEW OF<br>
        FUTURE TECHNOLOGIES <br>
        SUMMIT <br>
        2025
      </h2>
    </div>
    <div class="about-right">
      <div class="review-item">
        <h3 class="review-title reveal">Review of Future Technologies Summit 2025</h3>
        <span class="review-date reveal">26 MAR 2025 | India International Centre, New Delhi </span> <br>
        <a href="#" class="about-btn reveal">Explore More ↗</a>
      </div>
      <div style=" margin-top: 15px;" class="review-item">
        <h3 class="review-title reveal">Review of Future Technologies Summit 2025 | SPACE CONFEFENCE</h3>
        <span class="review-date reveal">26 MAR 2025 | India International Centre, New Delhi </span><br>
        <a href="#" class="about-btn reveal">Explore More ↗</a>
      </div>
    </div>


  </div>
  <div class="about-images">
    <img class="reveal" src="{% static 'images/fts-img1.jpeg' %}">
    <img class="reveal" src="{% static 'images/fts-img2.jpeg' %}">
    <img class="reveal" src="{% static 'images/fts-img3.jpeg' %}">
    <img class="reveal" src="{% static 'images/fts-img4.jpeg' %}">
  </div>
</section>







<section class="why-section">
  <div class="why-left">
    <img src="{% static 'images/fts-img1.jpeg' %}" alt="Why Summit">
  </div>

  <div class="why-right">
    <div class="why-content">
      <h2>FUTURE TECH SUMMIT <br>OVERVIEW<br></h2>
      <div class="why-item">
        <p>
          The future tech summit 2025 is a premier gathering of industry leaders, innovators, and visionaries dedicated
          to shaping the technological landscape of tomorrow. as one of the top technology events in india, this
          exclusive event brings together experts from ai, robotics, aerospace, cybersecurity, green energy, and more,
          fostering discussions that will drive the next wave of future technology in india.

          join us at the future technologies summit 2025 to explore groundbreaking advancements, exchange ideas, and
          build strategic collaborations that will redefine industries, fuel the growth of startup india, and transform
          the future of futuretech.
        </p>
      </div>
      <div class="why-item">
        <h3>Exploring the Future of Innovation</h3>
        <p>
          stay up to date with the latest advancements shaping the technology landscape. the future technologies summit
          2025 will delve into emerging trends that drive innovation, efficiency, and transformation across industries.
          from artificial intelligence to next-gen aerospace solutions, the event will highlight groundbreaking
          developments that redefine the future.
        </p>
      </div>
      <div class="why-item">
        <h3>Insightful Discussions</h3>
        <p>
          the summit will feature an outstanding lineup of expert speakers, case studies, panel discussions, and unique
          presentations, providing unparalleled access to cutting-edge insights. industry leaders will share best
          practices, experiences, and emerging trends, fostering knowledge exchange, future outlooks, and actionable
          takeaways to drive strategic growth.
        </p>
      </div>
      <div class="why-item">
        <h3>Empowering Startups</h3>
        <p>
          the future technologies summit 2025 will bring together industry giants, investors, startups, smes, and
          entrepreneurs to accelerate digital transformation. with a dedicated focus on empowering startups, the event
          will provide a platform for emerging businesses to showcase their innovations, connect with potential
          investors, and explore strategic partnerships.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="small_description-section ">
  <div class="small_description-bg">


  </div>



  <div class="small_description-header">
    <h2>ANTICIPATED OUTCOMES</h2>
  </div>

  <div class="small_description-card">
    <div class="small_description-left">
      <span class="small_description-number">1</span>
      <img src="{% static 'images/img3.avif' %}" alt="Future of Education">
    </div>

    <div class="small_description-right">
      <p>
        As the event progresses, the agenda is designed to ignite meaningful discussions, foster collaborations, and
        uncover groundbreaking discoveries. By uniting thought leaders and innovators from diverse sectors, the event
        aims to stimulate cross-industry dialogue and partnerships that will shape the future of technology and
        business. Attendees can expect to gain fresh insights, innovative ideas, and valuable connections that could
        drive the evolution of their respective industries.

        The event’s ultimate goal is to serve as more than just a display of technological progress. It presents a
        unique opportunity to understand how these advancements will impact society, policy, and the global economy in
        the years ahead. The insights and outcomes from the event will pave the way for the next phase in the
        development of industries, from defence to entertainment, ensuring a more connected, efficient, and tech-driven
        future.

        The curtain is about to rise on a future set to be more transformative than ever before. Prepare for an event
        that will not only challenge perceptions but also spark the next wave of global innovation.
      </p>
    </div>
  </div>
</section>


<section class="gallery-section">
  <div class="gallery-wrapper">

    <div class="gallery-card">
      <img src="{% static 'images/img4.jpg' %}" alt="Track 1">
    </div>

    <div class="gallery-card">
      <img src="{% static 'images/img5.jpg' %}" alt="Track 2">
    </div>

    <div class="gallery-card">
      <img src="{% static 'images/img6.jpg' %}" alt="Track 3">
    </div>

    <div class="gallery-card">
      <img src="{% static 'images/img7.jpg' %}" alt="Track 4">
    </div>
    <div class="gallery-card">
      <img src="{% static 'images/img8.jpg' %}" alt="Track 4">
    </div>
  </div>
</section>


<section class="photo-slide-section">
  <video class="photo-bg-video" autoplay muted loop playsinline>
    <source src="{% static 'videos/demo.mp4' %}" type="video/mp4">
  </video>

  <div class="photo-slide-content">
    <span class="small_description-tag">RECAP</span>

    <h2 class="photo-slide-title">
      LAST YEAR AT THE<br>SUMMIT OF FUTURE
    </h2>

    <div class="photo-slide-wrapper">
      <div class="photo-slide-track">
        <div class="photo-slide-card"><img src="{% static 'images/fts-img1.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img2.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img3.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img4.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img5.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img6.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img7.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img8.avif' %}" /></div>
        <!-- duplicate for loop -->
        <div class="photo-slide-card"><img src="{% static 'images/fts-img1.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img2.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img3.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img4.jpeg' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img5.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img6.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img7.avif' %}" /></div>
        <div class="photo-slide-card"><img src="{% static 'images/fts-img8.avif' %}" /></div>
      </div>
    </div>
  </div>
</section>



<section class="opportunity-section">
  <!-- background video -->
  <video autoplay muted loop playsinline class="opportunity-video">
    <source src="{% static 'videos/demo2.mp4' %}" type="video/mp4">
  </video>

  <!-- overlay -->
  <div class="opportunity-overlay"></div>

  <div class="opportunity-content">
    <h2 class="opportunity-title">OPPORTUNITIES</h2>

    <div class="opportunity-cards">
      <div class="opportunity-card">
        <h3>STAY AHEAD</h3>
        <p>Gain insights into emerging technologies like AI, robotics, cybersecurity, and green energy.</p>
      </div>

      <div class="opportunity-card">
        <h3>CONNECT GLOBALLY</h3>
        <p>Network with CEOs, investors, policymakers, and tech pioneers to unlock new opportunities.</p>
      </div>

      <div class="opportunity-card">
        <h3>LEARN MORE</h3>
        <p>Hear from industry leaders through keynotes, panel discussions, and real-world case studies.</p>
      </div>

      <div class="opportunity-card">
        <h3>EMPOWER STARTUPS</h3>
        <p>Startups get exposure, funding, and mentorship through pitch sessions and investor meetups.</p>
      </div>
    </div>
  </div>
</section>



<!-- 
<section class="speaker-section">
  <h2 class="speaker-title">SPEAKERS</h2>

  <div class="speaker-grid">
    <div class="speaker-card">
      <img src="{% static 'images/speaker1.jpg' %}" alt="Speaker">
      <h3>Lt Cdr John Livingstone (R)</h3>
      <p>Founder - Johnnette Group
        Founder & Angel Investor - Livingstone Institute of Future Technologies (LIFT)
        Secretary General - IFFAAD</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker8.jpeg' %}" alt="Speaker">
      <h3>Rajiv Vermani</h3>
      <p>Director & CEO - Digital and Automation at Hardcastle Petrofer</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker3.jpeg' %}" alt="Speaker">
      <h3>Arjun Kumar</h3>
      <p>Scientist F & Associate Director Directorate of Technology Development Fund, DRDO</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker4.jpeg' %}" alt="Speaker">
      <h3>Cdr Navneet Kaushik (Veteran)</h3>
      <p>Founder, Jamwant Ventures Angel Fund Former Scientist 'F', Project Director - Technology Development Board,
        Department of Science and Technology Future technologies summit 2025 </p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker2.jpg' %}" alt="Speaker">
      <h3>Pavleen Gujraal</h3>
      <p>Bollywood Actor & Celebrity Anchor</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker6.jpg' %}" alt="Speaker">
      <h3>Maj Gen SK Sharma, SM**, VSM</h3>
      <p>CEO & MD Indo Russian Rifles Pvt Ltd (IRRPL)</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker7.jpeg' %}" alt="Speaker">
      <h3>Prof M S Prasad</h3>
      <p>Director - Amity Space Science Institute of Technology Ex - Scientist G, DRDO</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker5.jpeg' %}" alt="Speaker">
      <h3>Prof (Dr) Nishakant Ojha</h3>
      <p>Chairman - (Study Group) HQ IDS Ministry of Defence (Renowned Strategist in Advanced AI and Future
        Technologies)</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker9.jpeg' %}" alt="Speaker">
      <h3>Gp Captain (Dr.) R. K. Narang</h3>
      <p>Author, Defense Analyst</p>
    </div>

    <div class="speaker-card">
      <img src="{% static 'images/speaker10.jpg' %}" alt="Speaker">
      <h3>Sanat Kaul</h3>
      <p>Chairman - International Foundation of Aviation, Aerospace and Drones</p>
    </div>
  </div>
</section> -->



{% endblock %}