{% extends "base.html" %}
{% load static %}

{% block title %}Sponsors | Future Technologies Summit{% endblock %}

{% block content %}


<div class="sponsor-section">
     <canvas id="three-bg"></canvas>

    <div class="sponsor-header">
        <h2 class="sponsor-title">Our Sponsors & Partners</h2>
        <p class="sponsor-subtitle">
            Proudly supported by industry leaders driving innovation and shaping the future of technology.
        </p>
    </div>

    <div class="logo-slider">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="{% static 'images/sponsor1.avif' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor2.jpg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor3.avif' %}" height="150" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor4.jpg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor5.png' %}" height="250" width="350" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor6.png' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor7.png' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor8.avif' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor9.png' %}" height="200" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor10.png' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor11.jpg' %}" height="250" width="350" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor12.png' %}" height="250" width="400" alt="" />
                </div>

                <!-- duplicate -->
                 <div class="slide">
                    <img src="{% static 'images/sponsor1.avif' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor2.jpg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor3.avif' %}" height="150" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor4.jpg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor5.png' %}" height="250" width="350" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor6.png' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor7.png' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor8.avif' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor9.png' %}" height="200" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor10.png' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor11.jpg' %}" height="250" width="350" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/sponsor12.png' %}" height="250" width="400" alt="" />
                </div>
            </div>
        </div>
    </div>





    <div class="sponsor-header">
        <h2 class="sponsor-title">Our Media Partners</h2>
        <p class="sponsor-subtitle">
            Proudly supported by industry leaders driving innovation and shaping the future of technology.
        </p>
    </div>

    <div class="logo-slider1">
        <div class="slider1">
            <div class="slide-track1">
                <div class="slide">
                    <img src="{% static 'images/media1.jpg' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/media2.jpeg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/media3.png' %}" height="150" width="400" alt="" />
                </div>
                

                <!-- duplicate -->
                 <div class="slide">
                    <img src="{% static 'images/media1.jpg' %}" height="225" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/media2.jpeg' %}" height="250" width="400" alt="" />
                </div>
                <div class="slide">
                    <img src="{% static 'images/media3.png' %}" height="150" width="400" alt="" />
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>







{% endblock %}