{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="min-h-screen w-full bg-white p-10 text-black">
    <div class="max-w-[1400px] mx-auto">
        <h1 class="text-black 2xl:text-9xl lg:text-8xl md:text-6xl sm:text-4xl text-3xl capitalize text-center">Terms
            and Conditions</h1>
        <div class="max-w-[1000px] mx-auto flex flex-col justify-center items-start gap-5 pt-10 pb-20">
            <p class="text-2xl font-normal border-b">
                These Terms and Conditions govern your participation in The Future Technologies Summit 2026, organized
                by ABC pvt Ltd,
                Noida. By registering for and attending the summit, you agree to comply with the following terms and
                conditions:
            </p>
            <ol class="list-decimal px-4">
                <li class="text-2xl mb-5 md:text-3xl">Registration and Eligibility</li>
                <div class="mb-5">
                    Registration for The Future Technologies Summit 2026 is open to individuals, students,
                    professionals,
                    organizations, and institutions who meet the eligibility criteria outlined on the official event
                    website.
                    Participants must provide accurate, complete, and up-to-date information during the registration
                    process.
                    By registering, participants confirm they are at least 18 years old or have the consent of a
                    guardian or legal representative if under 18.

                </div>
                <li class="text-2xl mb-5 md:text-3xl">Event Content and Access</li>
                <div class="mb-5">
                    The summit will feature a variety of sessions, including keynote addresses, panel discussions,
                    workshops, and networking opportunities.
                    All content presented during the summit, including materials, videos, and discussions, are the
                    intellectual property of the event organizers or respective speakers, and cannot be reproduced or
                    distributed without prior written permission.
                    Participants will be provided access to digital materials, recordings, and resources, where
                    applicable, but this access is granted solely for personal, non-commercial use.
                    The organizers reserve the right to modify the event agenda, session timings, or format at their
                    discretion.


                </div>
                <li class="text-2xl mb-5 md:text-3xl">Participation Fees</li>
                <div class="mb-5">
                    Some sessions, workshops, or networking events may require a participation fee. Details regarding
                    fees, payment methods, and deadlines will be provided during registration.
                    All fees are non-refundable, except in cases where the event is canceled or rescheduled by the
                    organizers.

                </div>
                <li class="text-2xl mb-5 md:text-3xl">Code of Conduct</li>
                <div class="mb-5">
                    Participants are expected to conduct themselves professionally and respectfully at all times.
                    Disruptive or inappropriate behavior, including harassment or discrimination, will not be tolerated.
                    The organizers reserve the right to remove any participant from the event who violates this code of
                    conduct. No refund will be provided in such
                </div>
                <li class="text-2xl mb-5 md:text-3xl">Privacy and Data Protection</li>
                <div class="mb-5">
                    By registering for The Summit of Future 2026, participants consent to the collection and processing
                    of personal data as described in the event’s Privacy Policy.
                    Personal information provided will be used for registration, event communication, and future
                    event-related updates, unless otherwise specified.
                    Participants may be photographed or recorded during the event, and the organizers reserve the right
                    to use such materials for promotional purposes, including on the summit website and social media
                    platforms.

                </div>
                <li class="text-2xl mb-5 md:text-3xl"> Event Cancellation or Changes</li>
                <div class="mb-5">
                    The organizers reserve the right to cancel or reschedule the event, or parts of the event, for
                    reasons beyond their control (e.g., natural disasters, health-related emergencies, or other
                    unforeseen circumstances).
                    In the event of cancellation, participants will be notified promptly, and efforts will be made to
                    reschedule or refund participation fees as appropriate.


                </div>
                <li class="text-2xl mb-5 md:text-3xl">Intellectual Property</li>
                <div class="mb-5">
                    All content shared by speakers, moderators, and panelists during the event is the property of the
                    respective authors or the event organizers. Participants agree not to reproduce, distribute, or
                    publicly display such content without permission.
                </div>
            </ol>
        </div>
    </div>
</section>
{% endblock %}