#three-bg{
    position:absolute;
    top:0;
    left:0;
    width:100% !important;
    height:100% !important;   
    z-index:0;
}

.sponsor-header,
.logo-slider{
    position:relative;
    z-index:2;
}





.logo-slider {
  align-items: center;
  /* background: black; */
  background: transparent;
  display: flex;
  height: 30vh;
  justify-content: center;
}


.sponsor-section{
    padding:80px 0;
    text-align:center;
    position:relative;
    min-height:500px;
}

.sponsor-title{
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
    color:#fff;
}

.sponsor-subtitle{
    font-size:18px;
    color:#bdbdbd;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  /* height: 250px; */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 120px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 250px;
  position: absolute;
  width: 400px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  display:flex;
  gap:20px;
  width:max-content;   /* 🔥 VERY IMPORTANT */
  animation: scroll 35s linear infinite;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide img {
      margin: 15px 15px;
    object-fit: contain;
    height: 100px;
}




.logo-slider1 {
  align-items: center;
  /* background: black; */
  background: transparent;
  display: flex;
  height: 30vh;
  justify-content: center;
}


.slider1 {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  /* height: 250px; */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 120px;
}
.slider1::before, .slider1::after {
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 250px;
  position: absolute;
  width: 400px;
  z-index: 2;
}


.slider1::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider1::before {
  left: 0;
  top: 0;
}


.slider1 .slide-track1 {
  display:flex;
  gap:20px;
  width:max-content;  
  animation: scroll 9s linear infinite;
}